.topSearch {
  background-color: $admin-card-bg;
  margin-bottom: 30px;
  padding: 20px;
  box-shadow: rgba($themeColor, 0.16) 0px 1px 4px;
  display: flex;
  justify-content: space-between;
  border-radius: 6px;
  form {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border: 1px solid lightgray;
    max-width: 700px;
    padding: 5px 7px;
    border-radius: 4px;
    max-width: 300px;
    input {
      width: 100%;
      border: none;
      outline: none;
      padding: 0px 5px;
      
    }
  }
}
