.Registration--container {
    position: fixed;
    top: 0;
    left: 0;
    background: $background-white;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    .Registration--wrapper {
        width: 400px;
        margin: 0 auto;
        background-color: #fff;
        padding: 2rem 3rem 3rem 3rem;
        border-radius: 8px;
        box-shadow: 0px 8px 55px #04004725;
        & > h5 {
            font-size: 1.5rem;
            text-align: center;
            margin-bottom: 2rem;
            color: rgba(0, 0, 0, 0.7);
        }
        .Registration--form {
            .form-group {
                position: relative;
                margin: 1rem 0;
                & > label {
                    color: rgba(0, 0, 0, 0.6);
                    font-size: 14px;
                    font-weight: 600;
                }
                .form-input {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    gap: 10px;
                    height: 40px;
                    width: 100%;
                    padding: 5px 10px;
                    margin-top: 8px;
                    border-radius: 8px;
                    border: 1px solid rgb(211, 211, 211);
                    &:hover {
                        border: 1px solid rgb(175, 175, 175);
                        box-shadow: 0 10px 10px rgba(0, 0, 0, 0.05);
                    }
                    &:focus {
                        outline: none;
                        border: 1px solid $red;
                    }
                    & > input {
                        flex: 1;
                        border: none;
                        &:focus {
                            outline: none;
                        }
                    }
                    .show-password-icon {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        height: 25px;
                        width: 25px;
                        border-radius: 50%;
                        cursor: pointer;
                        &:hover {
                            background: rgb(241, 241, 241);
                        }
                    }
                }
                .err-message {
                    color: #ff0000;
                    // position: absolute;
                    font-size: 12px;
                    // top: 0;
                    // right: 0;
                }
            }
            .submit {
                margin-top: 0.6rem;
                width: 100%;
                @include basicBtn($red);
                &:hover {
                    background-color: #fff;
                    color: $red;
                    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.05);
                }
            }
        }
    }
}
