.card--wrapper {
    padding: 1rem 0;
    &--inner {
        position: relative;
        max-width: 282px;
        background-color: #fff;
        box-shadow: 0px 1px 5px #04004715;
        border-radius: 8px;
        padding: 20px;
        transition: 0.2s ease-in-out;
        .card--image--holder {
            position: relative;
            cursor: pointer;
            .discount--text {
                display: inline-flex;
                border-radius: 300px;
                cursor: unset;
                box-shadow: unset;
                transition: all 150ms ease-in-out 0s;
                padding: 5px 10px;
                background-color: $red;
                color: #fff;
                position: absolute;
                top: 0;
                left: 0;
                font-size: 10px;
                font-weight: 600;
            }
            .card--hover--view {
                display: none;
                position: absolute;
                top: 0;
                right: 0;
                & > div {
                    margin-bottom: 8px;
                }
                .favourite:hover{
                    svg{
                        fill: #0f3460;
                    }
                }
            }
        }
        .card--details--wrapper {
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            .card--details {
                flex: 1;
                cursor: pointer;
                .card--title {
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    font-size: 14px;
                    text-align: left;
                    font-weight: 600;
                    margin-bottom: 10px;
                    margin-top: 0px;
                    color: rgb(55, 63, 80);
                }
                .card--rating {
                    display: flex;
                    align-items: center;
                }
                .card--price {
                    font-size: 14px;
                    font-weight: 600;
                    margin-top: 10px;
                    &--active {
                        padding-right: 0.5rem;
                        color: $red;
                    }
                    &--inactive {
                        color: rgb(125, 135, 156);
                    }
                }
            }
            .add--to--cart {
                position: absolute;
                bottom: 20px;
                right: 20px;
                display: flex;
                flex-direction: column;
                align-items: center;
                .cart--icon--wrapper {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 30px;
                    width: 30px;
                    font-size: 26px;
                    color: $red;
                    border-radius: 8px;
                    box-shadow: 0 0 2px rgba(233, 69, 96, 0.418);
                    transition: 0.2s ease-in-out;
                    user-select: none;
                    cursor: pointer;
                    &:hover {
                        color: #fff;
                        background-color: $red;
                    }
                }
                .counter-text {
                    padding: 5px 0;
                    font-size: 14px;
                    font-weight: 600;
                    user-select: none;
                }
            }
        }
        &:hover {
            box-shadow: 0px 8px 45px #03004717;
            .card--hover--view {
                display: block;
                cursor: pointer;
            }
        }
    }
}
