.admin__dashboard {
  // for global div
  > div {
    padding: 30px 50px;
  }
  // individual class
  &__top {
    width: 100%;
    display: flex;
    justify-content: space-between;
    &__right {
      width: 100%;
      &__stat {
        display: flex;
        align-items: center;
        gap: 30px;
        > div {
          flex: 1;
          background-color: $admin-card-bg;
          display: flex;
          gap: 10px;
          align-items: center;
          justify-content: space-between;
          padding: 30px;
          border-radius: 8px;
          .MuiSvgIcon-root {
            font-size: 70px;
            padding: 15px;
            border-radius: 50%;
          }
          &:nth-of-type(1) {
            .MuiSvgIcon-root {
              color: #0e805f;
              background-color: #a7f3d0a2;
            }
          }
          &:nth-of-type(2) {
            .MuiSvgIcon-root {
              color: #fe8585;
              background-color: #facaca;
            }
          }
          &:nth-of-type(3) {
            .MuiSvgIcon-root {
              color: #ffba16;
              background-color: #ffe8b2;
            }
          }
          &:nth-of-type(4) {
            .MuiSvgIcon-root {
              color: #1683ff;
              background-color: #1683ff57;
            }
          }
          > div {
            color: $admin-text;

            p {
              font-size: 18px;
              font-weight: 600;
              color: $admin-dark;
              margin-bottom: 5px;
            }
            small {
              font-size: 16px;
            }
          }
        }
      }
    }
  }
  &__bottom {
    display: flex;
    gap: 20px;
    > div {
      flex: 1;
      padding: 20px 30px;
      background-color: white;
      border-radius: 8px;
      > div {
        margin-bottom: 30px;
        > p {
          font-size: 18px;
          color: $admin-text;
          letter-spacing: 1px;
          font-weight: 500;
        }
        &:nth-of-type(2) {
          display: grid;
          place-items: center;
        }
      }
    }
  }
}
