.login--wrapper {
    flex: 1;
    width: 400px;
    margin: 0 auto;
    background-color: #fff;
    padding: 2rem 3rem;
    border-radius: 8px;
    & > h5 {
        font-size: 1.5rem;
        text-align: center;
        margin-bottom: 2rem;
        color: rgba(0, 0, 0, 0.7);
    }
    .login--form {
        .form-group {
            margin: 1rem 0;
            & > label {
                color: rgba(0, 0, 0, 0.6);
                font-size: 14px;
                font-weight: 600;
            }
            .form-input {
                display: flex;
                justify-content: space-between;
                align-items: center;
                gap: 10px;
                height: 40px;
                width: 100%;
                padding: 5px 10px;
                margin-top: 8px;
                border-radius: 8px;
                border: 1px solid rgb(211, 211, 211);
                &:hover {
                    border: 1px solid rgb(175, 175, 175);
                    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.05);
                }
                &:focus {
                    outline: none;
                    border: 1px solid $red;
                }
                & > input {
                    flex: 1;
                    border: none;
                    padding: 0.68rem 0;
                    &:focus {
                        outline: none;
                    }
                }
                .show-password-icon {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 25px;
                    width: 25px;
                    border-radius: 50%;
                    cursor: pointer;
                    &:hover {
                        background: rgb(241, 241, 241);
                    }
                }
            }
            .err-message {
                color: #ff0000;
                font-size: 12px;
            }
        }
        .submit {
            margin-top: 0.6rem;
            width: 100%;
            @include basicBtn($red);
            &:hover {
                background-color: #fff;
                color: $red;
            }
        }
    }
    .need--account--text {
        margin-top: 20px;
        color: rgba(0, 0, 0, 0.6);
        font-size: 14px;
        .sign-up-text {
            color: $blue;
            font-weight: 600;
            cursor: pointer;
            &:hover {
                border-bottom: 1px solid $blue;
            }
        }
    }
}
