.admin {
  display: flex;
  background-color: $admin-light-bg;
  &.dark {
    $admin-light-bg: #1f2a39;
    $admin-card-bg: #1c1c1c;
  }
  > div {
    flex: 0.15;
    @media(min-width:972px){
       padding: 20px 30px;
    }
   

    &:nth-of-type(2) {
      flex: 1;
      background-color: $admin-light-bg;
    }
  }
}
