.sidebar--cart--main-wrapper {
    @include cartPosition(380px);
    animation: slideIn 0.4s ease-in-out;
    z-index: 9999;
}
.sidebar--cart--out {
    @include cartPosition(380px);
    transition: 0.6s ease-in-out;
    transform: translateX(100%);
    z-index: 9999;
}
.sidebar--cart--backdrop {
    position: fixed;
    top: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.53);
    z-index: 9991;
}
@keyframes slideIn {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0%);
    }
}
