.profile--main {
    padding: 0.7rem;
    min-height: 85vh;
    .navigation--text {
        font-size: 14px;
        font-weight: 600;
        color: #808080;
        & > span {
            color: $themeColor;
        }
    }
    .profile--header {
        font-size: 2.2rem;
        font-weight: 700;
        color: $profile-text-color;
        margin: 1.5rem 0;
    }
    .profile--wrapper {
        display: flex;
        gap: 40px;
        &--left {
            min-width: 200px;
            & > ul {
                & > li {
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    gap: 15px;
                    margin: 1rem 0;
                    padding: 0.6rem 1rem;
                    border-radius: 4px;
                    font-weight: 600;
                    color: $profile-text-color;
                    border: 1px solid transparent;
                    cursor: pointer;
                    &:hover {
                        background-color: $profile-background-hover;
                        color: $profile-text-color-hover;
                        & > span {
                            & > svg {
                                path {
                                    fill: $profile-text-color-hover;
                                }
                            }
                        }
                    }
                    & > span {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        min-width: 30px;
                        & > svg {
                            path {
                                fill: $profile-text-color;
                            }
                        }
                    }
                }
                .active {
                    background-color: $profile-background-hover;
                    color: $profile-text-color-hover;
                    border: 1px solid $profile-text-color-hover;
                    & > span {
                        & > svg {
                            path {
                                fill: $profile-text-color-hover;
                            }
                        }
                    }
                }
            }
        }
        &--right {
            flex: 1;
            background: #fff;
            box-shadow: 0 2px 5px#e7e7e7;
            border-radius: 4px;
            margin-top: 1rem;
            padding: 1.5rem 3rem;
        }
    }
    .rotate {
        transform: rotate(180deg);
    }
}
