.cart--section{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items: flex-start;
    padding: 1.5rem 0;
    min-height: 65vh;
    .cart-item--wrapper{
        flex: 2;
    }
    .price-info--wrapper{
        flex: 1;
    }
}