:root {
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --primary: #16187f;

  --dark: #343a40;
}

.navbar {
  background: var(--primary);
  padding: 1.2rem;
  color: var(--white);
}

nav {
  display: grid;
  grid-template-columns: 0.75fr 1.25fr 1fr;

  align-items: center;
  margin: 0 auto;

  max-width: 90vw;
}
.navbar div {
}
.navbar-left {
  grid-column: 1/2;
  color: #fff;
  text-decoration: none;
}
.navbar-center {
  grid-column: 2/3;
}
.navbar-center-search-input {
  width: 100%;
  padding: 1rem;
  border-radius: 1.5rem;
}
.navbar-right {
  grid-column: 3/4;
  display: flex;
  align-items: center;
  margin: 0 2rem;
  text-align: center;
  justify-content: space-around;
}
.navbar-right i {
  color: var(--yellow);
  padding: 0.2rem;
}
.navbar-right-calls {
  margin-right: 0px;
}
/* bottom section */

.navbar-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
}
.navbar-bottom-names ul {
  list-style-type: none;

  display: flex;

  padding-left: 0;
}
.navbar-bottom-names li {
  padding: 0.4rem;
  margin: 0.2rem;
}

.navbar-bottom-support {
  padding: 0.4rem;
  margin-right: 2rem;
}
