.header {
  background: #0f3460;
  color: #fff;
  height: 2.5rem;
  font-size: 0.7rem;
  text-transform: capitalize;
}

.header--wrapper {
  max-width: 90vw;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.header--wrapper--contact, .header--wrapper--help {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.header--wrapper--contact > div, .header--wrapper--help > div {
  padding: 0.4rem;
}

.header--wrapper--contact :hover, .header--wrapper--help :hover {
  color: #e94560;
}

.navbar {
  background-color: #fff;
  height: 5rem;
}

.navbar--wrapper {
  max-width: 90vw;
  margin: 0 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}

.navbar--wrapper--header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navbar--wrapper--header--logo {
  margin-bottom: 0.7rem;
}

.navbar--wrapper--header--category {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar--wrapper--search {
  width: 100%;
}

.navbar--wrapper--search--container {
  width: 80%;
  margin: 0 auto;
  padding: 1px;
  border: 0.5px solid rgba(0, 0, 0, 0.4);
  border-radius: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.navbar--wrapper--search--container--icon {
  margin: auto;
}

.navbar--wrapper--search--container--searchbox {
  width: 70%;
}

.navbar--wrapper--search--container--searchbox input {
  height: 3rem;
  width: 100%;
  border: none;
}

.navbar--wrapper--search--container--searchbox input:focus-visible {
  outline: none;
}

.navbar--wrapper--search--container--dropdown {
  padding-left: 1rem;
  margin: auto;
  border-left: 1px solid black;
  position: relative;
}

.navbar--wrapper--search--container--dropdown > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.navbar--wrapper--search--container--dropdown .dropdown-links {
  position: absolute;
  top: 3rem;
  background: #f6f9fc;
  margin: auto;
  list-style: none;
  text-decoration: none;
  padding-left: 0;
}

.navbar--wrapper--search--container--dropdown .dropdown-links li {
  margin-top: 0.5rem;
  padding: 0rem 1rem;
}

.navbar--wrapper--search--container--dropdown h4 {
  font-weight: lighter;
}

.navbar--wrapper--search--container:hover {
  border: 1px solid black;
}

.navbar--wrapper--search--container:focus-within {
  border: 0.2px solid #e94560;
}

.navbar--wrapper--icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar--wrapper--icons .navicon {
  background: #f6f9fc;
  padding: 0.5rem;
  margin: 0.5rem;
  height: 3rem;
  width: 3rem;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  position: relative;
}

.navbar--wrapper--icons .navicon--badge {
  position: absolute;
  width: 1rem;
  font-size: x-small;
  padding: 0.2rem;
  border-radius: 50%;
  background-color: #e94560;
  color: #f6f9fc;
  top: -15%;
  right: 5%;
}
/*# sourceMappingURL=Navbar.css.map */