@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap");

html {
  font-size: 100%;
  box-sizing: border-box;
}
*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0px;
  padding: 0px;
  user-select: none;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  background-color: $background-white;
}

a,
a:visited,
a:hover {
  text-decoration: none;
  color: inherit;
}

ul,
li {
  margin: 0;
  padding: 0;
}

ul li {
  list-style: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.d-flex {
  display: flex;
}

// common class use

.container {
  max-width: 1220px;
  padding: 0 10px;
  margin: 0 auto;
}

.btn-primary {
  background-color: $red;
  color: white;
  border: none;
  outline: none;
  padding: 12px 25px;
  font-weight: 700;
  border-radius: 7px;
  cursor: pointer;
  font-size: 14px;
}

/* width */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #b5b5b5;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #8c8c8c;
//primary table design for all

.admin-table-global {
  width: 100%;
  text-align: left;
  background-color: $admin-card-bg;
  border-collapse: collapse;

  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  tr:hover {
    background-color: $admin-light-bg;
  }
  th {
    padding: 10px;
    text-align: left;
    background-color: $red;
    color: white;
    margin: 0px;
    border: none;
  }
  td {
    margin: 0px;
    border: none;
    padding: 15px 10px;
    &:last-of-type {
      color: red;
    }
  }
}
.pagination__table {
  width: 100%;
  padding: 20px 10px;
  display: flex;
  justify-content: flex-end;
  background-color: $admin-card-bg;
  border-bottom: 2px solid $red;
}
}