// //colors
// $darkBlue: hsl(233, 26%, 24%);
// $limeGreen: hsl(136, 65%, 51%);
// $brightCyan: hsl(192, 70%, 51%);
// $grayishBlue: hsl(233, 8%, 62%);
// $lightGrayishBlue: hsl(220, 16%, 96%);
// $veryLightGray: hsl(0, 0%, 98%);
// $white: hsl(0, 0%, 100%);

// //font-sizes
// $font-md: 1.125rem; //18px
// $font-sm: 0.875rem; //14px
$blue: #0f3460;
$red: #e94560;
$black: rgb(43, 52, 69);
$background-white: #f6f9fc;
$light-gray: rgb(139, 138, 138);
$success: #00a61a;
$error: #ff0000;
$profile-text-color: #565656;
$profile-text-color-hover: #1276d3;
$profile-background-hover: #e4edf7;
$dark-gray: #5b5b5b;
