// $blue: #0f3460;
// $themeColor: #e94560;
$blue: #0f3460;
$themeColor: #0f3460;
$black: rgb(43, 52, 69);
$background-white: #f6f9fc;
$light-gray: rgb(139, 138, 138);
$success: #00a61a;
$error: #ff0000;
$profile-text-color: #565656;
$profile-text-color-hover: #1276d3;
$profile-background-hover: #e4edf7;
$dark-gray: #5b5b5b;
$admin-light-bg: #f3f4f6;
$admin-card-bg: #ffffff;
$admin-text: #1c1c1c;
$admin-dark: #5f6c71;
$background-white-hover: #e2ecf5;
